# Write 20 methods used in modifying LIST, TUPLE, LOOP and DICTIONARY .

# LIST

In [ ]:
#Appending Elements
#Add an elemnt to the fruits list

In [5]:
fruits = ["apple", "banana", "cherry"]

fruits.append("cucumber")

print(fruits)

['apple', 'banana', 'cherry', 'cucumber']

In [ ]:
#Copy
# Copy the fruits list:

In [7]:
fruits = ["apple", "banana", "cherry", "cucumber"]

x = fruits.copy()

print(x)

['apple', 'banana', 'cherry', 'cucumber']

In [ ]:
#Count
#Return the number of times the value "cherry" appears in the fruits list:

In [10]:
fruits = ["apple", "banana", "cherry", "cherry"]

x = fruits.count("cherry")

print (x)

2

In [ ]:
#Extend
#Add the elements of cars to the fruits list:

In [11]:
fruits = ["apple", "banana", "cherry"]

cars = ["Ford", "BMW", "Volvo"]

fruits.extend(cars)

print (fruits)

['apple', 'banana', 'cherry', 'Ford', 'BMW', 'Volvo']

In [ ]:
#Clear
#Remove all elements from the fruits list:

In [13]:
fruits = ["apple", "banana", "cherry", "cucumber"]

fruits.clear()

print (fruits)

[]

# TUPLE

In [ ]:
#Tuple Concatenation:
#using the + operator:

In [19]:
Luxurious_cars = ("Bently", "Benz", "Ferari")
Regular_cars = ("Honda", "Toyota", "Mazda")
concatenated_tuple = Luxurious_cars + Regular_cars

print (concatenated_tuple)

('Bently', 'Benz', 'Ferari', 'Honda', 'Toyota', 'Mazda')

In [ ]:
#Tuple Count
#Return the number of times the value 5 appears in the tuple:

In [23]:
cars = ("Bently", "Benz", "Ferari", "Honda", "Toyota", "Mazda" "Benz", "Mazda")

x = cars.count("Benz")

print(x)

1

In [ ]:
# Tuple Index
# Search for the first occurrence of the value 6, and return its position:

In [2]:
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = thistuple.index(6)

print(x)

7

In [ ]:
# Tuple Length
# Print the number of items in the tuple:

In [3]:
thistuple = ("apple", "banana", "cherry", "cucumber")
print(len(thistuple))

4

In [ ]:
# Converting to a List
# Using the list() constructor to convert a tuple into a list.

In [5]:
my_tuple = (1, 2, 3, 4, 5)
my_list = list(my_tuple)
print (my_list)

[1, 2, 3, 4, 5]

# DICTIONARY

In [ ]:
# Accessing Values

In [7]:
my_dict = {'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

value2 = my_dict.get('key2') 

print (value2)

value2

In [ ]:
# Adding Items

In [9]:
my_dict = {'key1': 'value1', 'key2': 'value2'}

my_dict['key3'] = 'value3'  

print (my_dict)

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

In [ ]:
# Modifying Items

In [10]:
my_dict = {'key1': 'value1', 'key2': 'value2'}
my_dict['key1'] = 'value4'
print (my_dict)

{'key1': 'value4', 'key2': 'value2'}

In [ ]:
# Removing Items

In [12]:
my_dict = {'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

del my_dict['key1']

print (my_dict)

{'key2': 'value2', 'key3': 'value3'}

In [ ]:
# Keys, Values, and Items:
# Allows us to retrieve the keys, values, and key-value pairs, respectively.

In [14]:
my_dict = {'key1': 'value1', 'key2': 'value2'}

all_keys = my_dict.keys() 
all_values = my_dict.values()  
all_items = my_dict.items()  

print (all_keys)
print (all_values)
print (all_items)

dict_keys(['key1', 'key2'])
dict_values(['value1', 'value2'])
dict_items([('key1', 'value1'), ('key2', 'value2')])

In [ ]:
# Nested Dictionary

In [17]:
myfamily = {
  "child1" : {"name" : "Emil","year" : 2004},
    
  "child2" : { "name" : "Tobias", "year" : 2007},
    
  "child3" : {"name" : "Linus","year" : 2011}}

print (myfamily)

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}

In [ ]:
# Loop through a dictionary

In [23]:
thisdict = {"brand": "Ford", "model": "Mustang", "year": 1964}
for x, y in thisdict.items():
    print(x, y)

brand Ford
model Mustang
year 1964

# LOOP

In [ ]:
# Looping Through a String

In [24]:
for x in "cucumber":
    print(x)

c
u
c
u
m
b
e
r

In [ ]:
#The break Statement

In [34]:
fruits = ["apple", "banana", "cherry", "cucumber", "orange", "guava"]
for x in fruits:
    print(x) 
    if x == "cherry":
        break

apple
banana
cherry

In [ ]:
# The continue Statement
# Do not print cucumber

In [45]:
fruits = ["apple", "banana", "cherry", "cucumber", "orange", "guava"]
for x in fruits:
    if x == "cucumber":
        continue
    print(x)

apple
banana
cherry
orange
guava

In [ ]:
#Else in For Loop

In [46]:
for x in range(6):
  print(x)
else:
  print("Complete!")

0
1
2
3
4
5
Complete!